<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}  
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    <title>{% block title %}Title{% endblock %}</title>
  </head>
  <body>
    <header id="header">
      {% block header %}
        {% include 'includes/header.html' %}
      {% endblock %}
    </header>
    <main>
      {% block content %} No content for you {% endblock %}
    </main>
    <footer id="footer">
      {% block footer %}
        {% include 'includes/footer.html' %}
      {% endblock %}
    </footer>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
