{% extends 'base.html' %}
{% load static %}

<style>
  .form-control {
      background-color: #949494;
      width: 75%;
      margin: 0 auto;
  }
</style>

{% block title %}
Create Post :: {{ block.super }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="ml-2">
      <h2>{{ user.username }}</h2>
      <h3 style="color: #8f8f8f;">Create Post</h3>
      <hr>
    </div>
    {% block form %}
        {% include 'includes/base_form.html' %}
    {% endblock %}
  </div>
{% endblock %}