{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
  <div class="cards">
    <div class="container">
      <div class="row">
        {% for post in posts %}
          <div class="col-6 col-lg-4">
            <a href="{{ post.get_absolute_url }}" style="background-image: url({{ post.image.url }})" class="card">
              <div class="desc">
                {{ post.name }}
              </div>
              <div class="author">
                {% if post.author.profile_pic %}
                  <img src="{{ post.author.profile_pic.url }}" alt="">
                    {{ post.author.username }} 
                {% else %}
                  <img src="{% static 'img/def_profile_pic.jpg' %}" alt="">
                  {{ post.author.username }} 
                {% endif %}
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
