{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
  <div class="cards">
    <div class="container">
      <div class="posts">
        {% for post in page_obj %}
          <div class="post-min">
            <div class="row">
              <div class="col-8">
                <pre><code>{{ post.code|truncatechars:800 }}</code></pre>
              </div>
              <div class="col-4 post-about">
                <h2>{{ post.name }}</h2>
                <div class="author">
                  {% if post.author.profile_pic %}
                    <img class="author-avatar" src="{{ post.author.profile_pic.url }}" alt="">
                  {% else %}
                    <img class="author-avatar" src="{% static 'img/def_profile_pic.jpg' %}" alt="">
                  {% endif %}
                  <a class="author-username" href="#">{{ post.author.username }} </a>
                </div>
                <div class="post-desc">
                  {{post.text|truncatechars:100}}
                </div>
                <span class="minicard lang">{{post.prog_language}}</span>
                <div>
                  {% for tag in post.tags.all %}
                    <span class="minicard tag">{{tag}}</span>
                  {% endfor %}
                </div>
                <div class="viewfull"><a href="{{ post.get_absolute_url }}" class="viewfull-btn">view full post</a></div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <nav aria-label="Лол что это">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">Предыдущая</a></li>
        <li class="page-item "><a class="page-link disable">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a></li> 
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Первая</a></li>
      {% endif %}
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a></li>
        {% if not page_obj.has_previous %}
          <li class="page-item "><a class="page-link disable">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a></li> 
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a></li>    
      {% endif %}
    </ul>
  </nav>
{% endblock %}
