{% extends 'base.html' %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row post">
      <div class="col-8">
        <img src="{{ post.image.url }}" class="post-img"></img>
      </div>
      <div class="col-4 post-about">
        <div class="post-autor">
          <img src="{{ post.author.profile_pic.url }}" class="post-author-avatar"></img>
        </div>
        <a href="{% url 'homepage:home' %}" class="author-username">{{ post.author.username }}</a>
        <div class="post-desc">
          {{ post.text }}
        </div>
      </div>
    </div>
    <form>
      <label class="form-label">comment</label>
      <input type="text" class="form-control comment-input" placeholder="Your comment">
      <div id="emailHelp" class="form-text">Don't swear pls</div>
      <button type="submit" class="btn-send">send comment</button>
    </form>
    {% for comment in post.comments.all %}
      <div class="comment-input">
        {{ comment.user }}: {{ comment.text }}
      </div>
    {% endfor %}
  </div>
{% endblock %}


