{% extends 'base.html' %}

{% block title %}
About Us :: {{ block.super }}
{% endblock %}

{% block content %}

<main class="container gy-500">
    <div class="p-4 p-md-5 mb-4 mt-5 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">This page is about our project</h1>
        <p class="lead my-3">This project was created specifically for the Django Intensive from the Yandex Academy. Here we show everything we learned in two months of hard work with a tool as Django!</p>
        <p class="lead mb-0"><a href="https://academy.yandex.ru/intensive/django" class="text-white fw-bold">About Intensive</a></p>
      </div>
    </div>
  
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Cool</strong>
            <h3 class="mb-0">So much good</h3>
            
            <p class="card-text mb-auto">Card is about good side of project.</p>
            
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Comfortable</strong>
            <h3 class="mb-0">About convenience</h3>
            
            <p class="mb-auto">And this card is about that side of the project, which makes the user's life easier.</p>
            
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
          </div>
        </div>
      </div>
    </div>
    
    <div class="row g-5">
      <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">About our project</h3>
  
        <article class="blog-post">
          <h2 class="blog-post-title">Pinterest for coding</h2>
          
          <p>The idea of our project is to create a gallery-site similar to Pinterest for sport-coding.</p>
          <hr>
          
          <h2>Some about the functions</h2>

          <ul>
            <li>
              <blockquote class="blockquote">
                <p>User Profile</p>
              </blockquote>

              <p>We have created the functionality for a wide personalization of the user profile. He can customize it for his needs.</p>
            </li>
            <li>
              <blockquote class="blockquote">
                <p>Galleries</p>
              </blockquote>

              <p>Are we going to work on galleries?</p>
            </li>
            <li>
              <blockquote class="blockquote">
                <p>Feed</p>
              </blockquote>

              <p>The feed will select the most excellent publication for you.</p>
            </li>
          </ul>
      </div>
  
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-dark rounded">
            <h4 class="fst-italic">Pinterest</h4>
            <p class="mb-0">Our project is a convenient tool for image aggregation and filtering, as well as for communication among the creative community.</p>
          </div>
  
          <div class="p-4">
            <h4 class="fst-italic">I don't know what to put in here, but the thing is cool</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">First</a></li>
              <li><a href="#">Second</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  
  </main>
  
{% endblock %}
