{% load add_attr %}
{% load field_type %}
<style>
    .form-control {
        min-width: 300px;
        width: 75%;
    }
</style>
{% if form.errors %}
  {% for field in form %}
    {% for error in field.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error|escape }}
      </div>
    {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {{ error|escape }}
    </div>
  {% endfor %}
{% endif %}
<form method="post" action="" style="margin-top: 20px;">

  {% csrf_token %}
  <ul>
    {% for field in form %}
      <label for="{{ field.id_for_label }}" class="col-sm-8 col-form-label">
        {{ field.label }}
        {% if field.field.required %}
          <span style="color: red;">*</span>
        {% endif %}
      </label>
      <div class="col-sm-8">
        {% if field|field_type == "SelectMultiple" %}
          {{ field|add_attr:"class:selectpicker, data-style: btn-secondary" }}
        {% else %}
          {{ field|add_attr:"class:form-control dark-input" }}
        {% endif %}
        {% if field.help_text %}
        <div id="{{ field.id_for_label }}-help" class="form-text">
          {{ field.help_text|safe }}
        </div>
        {% endif %}
      </div>
    {% endfor %}
    {% if form %}
    <div>
      <button class="btn-send" type="submit" href="{% url 'homepage:home' %}" style="margin-top: 20px;">Send</button>
    </div>
    {% endif %}
  </ul>
</form>