{% load add_attr %}
<style>
    .form-control {
        min-width: 300px;
        width: 75%;
    }
</style>
{% if form.errors %}
  {% for field in form %}
    {% for error in field.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error|escape }}
      </div>
    {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {{ error|escape }}
    </div>
  {% endfor %}
{% endif %}
<form method="post" action="" style="margin-top: 20px;">

  {% csrf_token %}
  <ul>
    {% for field in form %}
      <label for="{{ field.id_for_label }}" class="col-sm-6 col-form-label">
        {{ field.label }}
        {% if field.field.required %}
          <span style="color: red;">*</span>
        {% endif %}
      </label>
      <div class="col-sm-6">
        {{ field|add_attr:"class:form-control" }}
        {% if field.help_text %}
          <div id="{{ field.id_for_label }}-help" class="form-text">
            {{ field.help_text|safe }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    {% if form %}
    <div>
      <button class="btn btn-danger" type="submit" href="{% url 'homepage:home' %}" style="margin-top: 20px;">Send</button>
    </div>
    {% endif %}
  </ul>
</form>