<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">KARTINKI</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage:home' %}">main</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">profile</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Leaderboards
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Users</a></li>
              <li><a class="dropdown-item" href="#">Photos</a></li>
              <li>
                <a class="dropdown-item" href="#">tags</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <a class="signup" href="{% url 'users:login' %}">Sign Up</a>
    </div>
</nav>