@media (min-width: 768px) {
    .container {
        width: 720px;
    }
} 
@media (min-width: 992px) {
    .container {
        width: 700px;
    }
    
}

@media (max-width: 992px) {
    .content {
        flex-direction: column;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

body {
    background: #18151a;
    color: #f0f1ff;
    padding-top: 100px;
}

a:hover, a {
    text-decoration: none;
    color: #fff;
}

.header{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    background-color: #5c009e9e;
    backdrop-filter: blur(5px);
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.signup {
    text-align: center;
    text-decoration: none;
    width: 150px;
    height: 50px;
    padding: 10px;
    border: 1px solid #fff6;
    border-radius: 20px;
    background: rgb(255,135,0);
    background: linear-gradient(150deg, rgba(255,135,0,1) 0%, rgba(255,0,199,1) 100%);
    box-shadow: 0px 2px 15px rgba(255, 200, 0, 0.5);
    
    transition: all 0.2s ease;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.signup:hover {
    transform: scale(1.2) rotate(-2deg);
    box-shadow: 0px 2px 30px rgba(255, 200, 0, 0.6);
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-min {
    width: 100%;
    
    border-radius: 25px;
    min-width: 400px;
    transition: all 0.3s ease;
    border: 1px solid rgba(254, 222, 255, 0.2);
    background-color: rgb(73, 0, 118);
    padding: 5px;
    box-shadow: 0 0 20px rgba(98, 0, 143, 0.461);
    margin-bottom: 80px;
}

.post-min:hover {
    transform: scale(1.03);
    box-shadow: 0 0 40px rgba(98, 0, 143, 0.461);
}

.post-about {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author {
    display: flex;
    font-size: 16px;
    align-items: center;
}

.author-avatar {
    height: 1em;
}

.author-username {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.4);
}

.author-username:hover {
    text-decoration: underline;
    color: #fff;
}

.author-username::before {
    content: '@';
}

.post-desc {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

pre {
    margin-bottom: 0;
    height: 100%;
}

.post-min code.hljs {
    border-radius: 20px;
    padding: 20px;
    height: 100%;
}

.viewfull {
    text-align: center;
    height: auto;
    /* position: absolute; */
    bottom: 0;
}

.viewfull-btn {
    display: inline-block;
    background: rgb(105,0,255);
    background: linear-gradient(150deg, rgba(105,0,255,1) 0%, rgba(255,0,131,1) 100%);
    padding: 0 10px;
    margin: 5px;
    border-radius: 5px;
    transition: all 0.2s ease;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #6666;
}

.viewfull-btn:hover {
    transform: scale(1.05);
}


.userinfo {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio {
    font-size: 26px;
    text-align: center;
    border: 1px solid #fff6;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.username {
    font-size: 40px;
    font-weight: bold;
    border-bottom: 3px solid rgb(255, 255, 255);
}

.avatar {
    width: 250px;
    margin: 20px;
}

.card-profile {
    max-width: 500px;
    min-width: 200px;
}

.post {
    margin-bottom: 30px;
}

.btn-send {
    background: rgb(105,0,255);
    background: linear-gradient(150deg, rgba(105,0,255,1) 0%, rgba(255,0,131,1) 100%);
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    box-shadow: 0 0 10px #fff4;
    transition: 0.2s ease;
}

.btn-send:hover {
    transform: scale(1.1);
}

.dark-input {
    background-color: #222;
    border: 1px solid #fff4;
    color: #ccc;
}

.dark-input:focus {
    background-color: #222;
    color: #ccc;
}

.userrow {
    position: fixed;
    width: inherit;
}

.card-form {
    /* margin-top: 70px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    width: 400px;
    border-radius: 20px;
    border: 1px solid #fff2;
    transition: 0.2s ease;
    box-shadow: 0px 2px 20px rgba(255, 255, 255, 0.1)
}

.card-form:hover {
    transform: scale(1.04);
    box-shadow: 0px 2px 50px rgba(255, 255, 255, 0.15)
}

h2 {
    text-align: center;
}