@media (min-width: 768px) {
    .container {
        width: 720px;
    }
} 
@media (min-width: 992px) {
    .container {
        width: 700px;
    }
    
}

@media (max-width: 992px) {
    .content {
        flex-direction: column;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}


body {
    background: #18151a;
    color: #f0f1ff;
    padding-top: 100px;
}

a:hover {
    color: #fff;
}

.header{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    background-color: #5c009e9e;
    backdrop-filter: blur(5px);
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.signup {
    text-align: center;
    text-decoration: none;
    width: 150px;
    height: 50px;
    padding: 10px;
    border: 1px solid #fff6;
    border-radius: 20px;
    background: rgb(255,135,0);
    background: linear-gradient(150deg, rgba(255,135,0,1) 0%, rgba(255,0,199,1) 100%);
    box-shadow: 0px 2px 15px rgba(255, 200, 0, 0.5);
    margin: 0 10px;
    transition: all 0.2s ease;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.signup:hover {
    transform: scale(1.2) rotate(-2deg);
    box-shadow: 0px 2px 30px rgba(255, 200, 0, 0.6);
}


.card {
    margin: 40px 20px;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1 / 1;
    border: none;
    
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 150px rgba(255, 255, 255, 0.4)
}

.card .desc {
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.667);
    position: absolute;
    opacity: 0;
    margin-bottom: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px;
    margin: 5px;
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: all 0.3s ease;
}

.card:hover .desc {
    opacity: 1;
}

.card .author {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(34, 17, 41, 0.667);
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    height: 30px;
    transition: all 0.2s ease;
}

.card:hover .author {
    transform: translateY(-30px);
    border-radius: 5px;
}

.card .author img {
    width: 30px;
    border-radius: 50%;
}

.userinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio {
    font-size: 26px;
    text-align: center;
    border: 1px solid #fff6;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.username {
    font-size: 40px;
    font-weight: bold;
    border-bottom: 3px solid rgb(255, 255, 255);
}
.avatar {
    width: 250px;
    margin: 20px;
}

.posts {
    display: flex;
    flex-direction: column;
}

.card-profile {
    max-width: 500px;
    min-width: 200px;
}

.post-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-author-avatar {
    width: 150px;
}

.author-username {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

.author-username:hover {
    text-decoration: underline;
    color: #fff;
}

.author-username::before {
    content: '@';
}

.post-desc {
    text-align: center;
    margin: 10px;
    font-size: 18px;
    border: 1px solid #fff4;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff4;
    padding: 15px;
}

.post {
    margin-bottom: 30px;
}

.btn-send {
    background: rgb(105,0,255);
    background: linear-gradient(150deg, rgba(105,0,255,1) 0%, rgba(255,0,131,1) 100%);
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    box-shadow: 0 0 10px #fff4;
    transition: 0.2s ease;
}

.btn-send:hover {
    transform: scale(1.1);
}

.comment-input {
    background-color: #222;
    border: 1px solid #fff4;
    color: #ccc;
}
.comment-input:focus {
    background-color: #222;
    color: #ccc;
}
.post-img {
    max-width: 100%;
    max-height: 100%;
}