{% extends 'base.html' %}
{% load static %} 

{% block title %}
Восстановление пароля :: {{ block.super }}
{% endblock %}

{% block content %}
    <div class="card-form mx-auto mb-auto bg-dark" style="max-width: 32rem;">
        <div class="card-body mx-auto">
        <h5 class="card-title">Проверьте вашу электронную почту.</h5>
        <p class="card-text" style="color: #ffffff;">Мы отправили вам сообщение с дальнейшими инструкциями по изменению пароля</p>
        </div>
    </div>
{% endblock %}