{% extends 'base.html' %}
{% load static %} 

{% block title %}
{{ disp_user.username }} :: {{ block.super }}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row content">
      <div class="col-4 userinfo">
        <div class="username">{{ disp_user.username }}</div>
        {% if disp_user.profile_pic %}
          <img src="{{ disp_user.profile_pic.url }}" class="avatar">
        {% else %}
          <img src="{% static 'img/def_profile_pic.jpg' %}" class="avatar">
        {% endif %}
        <div class="bio">
          <h4>About me:</h4>
          {{ disp_user.about_me }}
        </div>
      </div>
      <div class="col-8 posts">
        {% for disp_post in disp_user.posts.all %}
          <a
            href="{{ disp_post.get_absolute_url }}"
            style="background-image: url({{ disp_post.image.url }})"
            class="card card-profile"
          >
            <div class="desc">
              {{ disp_post.text|truncatewords_html:50 }} <br>
              {{ disp_post.category }}
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
    